button.col-1,
button.col-2 {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control {
  display: block;
  width: 12%;
  padding: 0.375rem 0.75rem;
  height: 40px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
