.a-color,
li a {
  color: #32dbc6;
}
.a-color:hover,
li a:hover {
  color: #0ca492;
  text-decoration: none;
}
.social-media {
  display: inline-block;
  float: right;
  margin-bottom: 0px;
  color: #32c292;
}
.social-media li {
  display: inline-block;
}
