button.active {
  background-color: #00050b;
  color: #ffffff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

button {
  z-index: 1;
  position: relative;
  color: #ffffff;
  padding: 8px 16px;
  outline: none;
  border: 1px solid #007bff;
  background-color: transparent;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  border-radius: 5px;
}
button::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #020070;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}
button:hover {
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

button:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}
