/* Main styles for the cart icon */
.cart-icon {
  position: relative;
  display: inline-block;
  background-color: #007bff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}

/* Style for cart count (number of items in the cart) */
.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff0000;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
}

/* Optional: Add some hover effects */
.cart-icon:hover {
  background-color: #0056b3;
}

.cart-icon:hover .cart-count {
  background-color: #d70000;
}

li {
  list-style-type: none;
  font-size: larger;
}
.nav-link {
  color: black;
}
.box-shadow-bottom {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
Link.site-logo {
  color: #007bff;
}

/* UserIcon.css */

.user-icon-container {
  position: relative;
}

.user-icon-container:hover .user-info {
  display: block;
}

.infomation-button,
.login-button {
  top: 40px;
}
.logout-button {
  top: 40px;
}

.login-button,
.logout-button,
.infomation-button {
  display: none;
  position: absolute;
  width: 100px;
  right: 0;
  padding: 5px 10px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  z-index: 99;
}

.user-icon-container:hover .login-button,
.user-icon-container:hover .logout-button {
  display: block;
}
